@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {

    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

    /* Font-style */
    --font-family: 'Red Hat Display',
        sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
li,
a,
button {
    font-family: var(--outfit-font);
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

p,
li,
a,
button {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--very-dark-blue-main);
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

button {
    background-color: transparent;
    padding: 0;
    margin: 0;
}