[Unit]
Description=Word Maze Gunicorn service
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Word-maze
EnvironmentFile=/home/ubuntu/Word-maze/.env
ExecStart=/home/ubuntu/Word-maze/.venv/bin/gunicorn -w 3 -b 127.0.0.1:5000 "app:create_app()"
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
